fastapi
uvicorn[standard]
opencv-python-headless
python-multipart
python-dotenv
numpy
torch
pillow
huggingface-hub
transformers>=4.40.0
fashn-human-parser
sentencepiece
safetensors
accelerate

torchvision
