fastapi
uvicorn[standard]
opencv-python-headless
python-multipart
python-dotenv
numpy
torch
pillow
huggingface-hub<1
transformers>=4.40.0,<5
fashn-human-parser
sentencepiece
safetensors
accelerate

torchvision

einops
timm
protobuf
