fastapi
uvicorn[standard]
opencv-python-headless
python-multipart
python-dotenv
numpy
torch
pillow
huggingface-hub==0.36.2
transformers==4.57.6
fashn-human-parser
sentencepiece
safetensors
accelerate
torchvision
einops
timm
protobuf